@using EntityLayer.Concrete
@model List<Carousel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h2>AnaSayfa Düzenleme Formu</h2>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                        <a class="">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table  table-bordered table-hover ">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>Başlık</th>
                                    <th>Açıklama1</th>
                                    <th>Açıklama2</th>
                                    <th>Buton İsmi</th>
                                    <th>Sil</th>
                                    <th>Düzenle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.CarouselID</td>
                                        <td>@item.Title</td>
                                        <td>@item.Description1</td>
                                        <td>@item.Description2</td>
                                        <td>@item.ButtonTitle</td>

                                        <td>
                                            <a href="/Admin/Carousel/CarouselRemove/@item.CarouselID" class="btn btn-danger">
                                                Sil
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/Admin/Carousel/CarouselEdit/@item.CarouselID" class="btn btn-success" data-toggle="modal"
                                           data-target="#Modal1">
                                                Düzenle
                                            </a>
                                        </td>


                                    </tr>
                                }
                            </tbody>
                        </table>

                        <!--ModalCategoryAdded-->
                        <div class="modal mt-5" id="Modal1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2><b>AnaSayfa</b></h2>
                                    </div>
                                    <form method="post" action="/Admin/Carousel/CarouselEdit/" autocomplete="off" enctype="multipart/form-data">
                                        <div class="modal-body">

                                            <label><b>ID</b></label>
                                            <input type="text" name="CarouselID" required class="form-control" />
                                            <br />
                                            <label><b>Başlık Adı</b></label>
                                            <input type="text" name="Title" required class="form-control" />
                                            <br />
                                            <label><b>Açıklama</b></label>
                                            <input type="text" name="Description1" required class="form-control" />
                                            <br />
                                            <label><b>Açıklama</b></label>
                                            <textarea name="Description2" required class="form-control"> </textarea>
                                            <br />
                                            <label><b>Buton adı</b></label>
                                            <input type="text" name="ButtonTitle" required class="form-control" />
                                            <br />

                                            <button class="btn btn-success"> Ekle</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

