@using EntityLayer.Concrete
@model List<Project>

<section id="projects" class="projects section-bg">
    <div class="container" id="proj" data-aos="fade-up">

        <div class="section-header">

            @*     @foreach (var item in Model)
            {
            <h1 style="font-weight: bold">@item.ProjectTitle</h1>

            <p>@item.ProjectTitle2</p>


            }*@
            <h1 style="font-weight: bold">Projelerimiz</h1>
            <p>Açıklama Metini</p>


        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

            <vc:project-category-list></vc:project-category-list>


            <!-- End Projects Filters -->

            <div class=" row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item filter-active filter-@item.ProjectCategory.ProjectCategoryName">
                        <div class="portfolio-content h-100 ">

                            <img style="height:300px; width:450px; border-radius:20px;" src="@item.ProjectImages" class="img-fluid" alt="">

                            <div class="portfolio-info">
                                <h4>@item.ProjectCategory.ProjectCategoryName</h4>

                                <p>deneme</p>

                                <a href="@item.ProjectImages" title="@item.ProjectCategory.ProjectCategoryName"
                               data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>

                                <a href="/ProjectDetail/Index/@item.ProjectID" title="Detayı Gör" class="details-link">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</section>