@model EntityLayer.Concrete.MyProject

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/Template/UI/UpConstruction/assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>Hizmet / Servis Detayları</h2>
            <ol>
                <li><a href="/Home/Index">AnaSayfa</a></li>
                <li>Hizmet / Servis Detayları</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Service Details Section ======= -->
    <section id="service-details" class="service-details">
        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-4">

                    <img class="mb-3" style="width:23rem;height:23rem; border-radius:20px 20px" src="~/CanstructionImages/@Model.ProjectImage">

                    <img class="mb-3" style="width:23rem;height:23rem; border-radius:20px 20px" src="~/CanstructionImages/@Model.ProjectImage2">

                </div>

                <div class="col-lg-8">
                    <img src="assets/img/services.jpg" alt="" class="img-fluid services-img">

                    <h3>@Html.Raw(Model.ProjectTitle)</h3>
                    <h6>@Html.Raw(@Model.ProjectDetails)</h6>
                    <br />
                    <ul class="mt-5">
                        <li>
                            <i class="bi bi-check-circle"></i>
                            <span>

                                @Html.Raw(@Model.Detail2)

                            </span>
                        </li>
                        @if (Model.Detail3 != null)
                        {
                            <li>
                                <i class="bi bi-check-circle"></i>
                                <span>
                                    @Html.Raw(@Model.Detail3)
                                </span>
                            </li>
                        }
                        @if (Model.Detail4 != null)
                        {
                            <li>
                                <i class="bi bi-check-circle"></i>
                                <span>
                                    @Html.Raw(@Model.Detail4)
                                </span>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>